:root {
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --accent-color: #161616;
    --text-color: #3b3f58;;
    --border-color: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
}

header {
    background-color: #3b3f58;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav h1 {
    margin: 0;
    font-size: 28px;
}

.social-icons-header {
    display: flex;
    gap: 15px;
}

.social-icons-header img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons-header img:hover {
    transform: scale(1.2);
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-image-container {
    position: relative;
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 5px solid #fff;
}

.profile-image-container:hover .profile-image {
    transform: scale(1.3);
}

.speech-bubble {
    display: none;
    position: absolute;
    bottom: 105%;
    left: 150%;
    transform: translateX(-60%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.profile-image-container:hover .speech-bubble {
    display: block;
}

.intro-info h2 {
    margin: 10px 0 5px;
    font-weight: 600;
}

.intro-info p {
    margin: 0;
    font-weight: 300;
    max-width: 400px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #5753c9;
    transform: scale(1.15);
}

#projects {
    padding: 50px 20px;
    background-color: #fff;
}

#projects h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    color: #000000;
}

.projects-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 0 45px;
    white-space: nowrap;
    scrollbar-width: none;
}

.projects-container::-webkit-scrollbar {
    display: none;
}

.project-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;
    width: 80vw;
    max-width: 800px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s;
}

.project-item:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    border-radius: 10px; /* Optional: Rounded corners */
    overflow: hidden; /* Ensures content fits within the container */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* Ensure the video is displayed */
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 86.25%; /* 16:9 Aspect Ratio */
    border-radius: 10px; /* Optional: Rounded corners */
    overflow: hidden; /* Ensures content fits within the container */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    display: block; /* Ensure the image is displayed */
}



.desc {
    padding: 15px;
    text-align: left;
    background-color: #ffffff;
    color: #333;
}

footer {
    padding: 20px;
    background-color: #3b3f58;
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0;
}
